<div class="main-contenedor">
  <div class="grid-logo">
    <div>
      <div class="div-logo">
        <img src="../../../assets/imgs/picon2.png" alt="centrosur-icon" />
        <div class="texto-logo">Dpto. de Gestion Ambiental</div>
      </div>
    </div>
  </div>

  <div class="header grid-header">
    <h1>Auditorías Ambientales</h1>
  </div>

  <div class="grid-sidebar menu">
    <app-menu></app-menu>
  </div>
   
  <div class="grid-content">   

    <div id="proyectos">

      <div style="display: grid; grid-template-columns: repeat(4, 1fr); width: initial;">
        <a (click)="accionDiv( list_contenido[i] )" class="link_{{list_contenido[i]}} href" href="/auditorias#{{nav}}" *ngFor="let nav of menu_cont; let i=index">{{nav}}</a>
      </div>
  
      <div id="id_proyecto" class="contenido" >
        <div class="proyecto">
          <div style="width: -webkit-fill-available;">
            <form>
              <div class="form-group">
                <label for="proy_name">Proyecto</label>
                <input [(ngModel)]="proyecto.nombre" name="proy_name" type="text" placeholder="Proyecto"/>
              </div>
              <div class="form-group">
                <label for="fecha">Fecha de Emisión de la Licencia</label>
                <input [(ngModel)]="proyecto.fecha_creacion" name="fecha" type="date" placeholder="dd-MM-yyyy"/>
              </div>
              <div class="butt-guardar">
                <button id="btnProyecto" style="font-size: 0.9rem;" (click)="crearProyecto()">Crear Proyecto</button>
              </div>
            </form>
          </div>
  
          <div id="tblProyecto" class="table_scroll">
            <table>
              <thead>
                <tr>
                  <th>Proyecto</th>
                  <th>Fecha Emisión</th>
                </tr>
              </thead>
              <tbody>
                <tr 
                  (click)="clickTProyectos(proy.nombre)"
                  *ngFor="let proy of proyectos"
                >
                  <td style="border-right: .3px solid #0000002b;width: min-content;padding-right: .5rem;text-align: justify;" >{{ proy.nombre }}</td>
                  <td style="width: 5rem;">{{ proy.fecha_creacion }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  
      <div id="id_descripcion" class="contenido" style="display: none;">
        <div class="form-group" style="padding: 1rem 0; display: inline-flex; gap: 1rem;">
          <label for="Proyecto" style="font-size: 2rem; font-weight: bold; align-self: center;" >Proyecto:  </label>           
          <label style="font-size: 1.5rem; text-transform: none; line-height: 1.5rem"> {{proyectoSeleccionado}}</label>             
        </div>
        <div class="proyecto">
          
          <div style="width: -webkit-fill-available;">
            <form class="form_descripcion">
              <div class="form-group">
                <label for="proy_name">Código</label>
                <input [(ngModel)]="desc_proy.identificador_desc" name="proy_name" type="text" placeholder="Código"/>
              </div>
              <div class="form-group">
                <label for="fecha">Fecha de Emisión</label>
                <input [(ngModel)]="desc_proy.fecha_emision" name="fecha" type="date" placeholder="dd-MM-yyyy" />
              </div>
              <!-- <div class="form-group">
                <label for="dga">Código Dpt. Gestión Ambiental</label>
                <input [(ngModel)]="desc_proy.codigo_dga" name="dga" type="text" placeholder="Dpt. Gestión Ambiental"/>
              </div> -->
              <div class="form-group">
                <label for="caar">Código Autoridad Ambiental Responsable</label>
                <input [(ngModel)]="desc_proy.codigo_aar" name="caar" type="text" placeholder="Autoridad Ambiental Responsable"/>
              </div>
              <div class="form-group">
                <label for="aar">Autoridad Ambiental Responsable</label>
                <input [(ngModel)]="desc_proy.aar" name="aar" type="text" placeholder="Autoridad Ambiental Responsable"/>
              </div>
            </form>
            <div class="butt-guardar">
              <button id="btnDescripcion" (click)="crearDescProy()">Agregar Descripción</button>
            </div>
          </div>
    
          <div id="tblDescripcion" class="table_descripcion">
            <table style="margin: auto; width: max-content;">
              <thead>
                <tr>
                  <th>Código</th>
                  <th>Fecha de Emisión Licencia</th>
                  <!-- <th>Código Dpt. Gestion Amb</th> -->
                  <th>Número Licencia Ambiental</th>
                  <th>Autoridad Ambiental Responsable</th>
                </tr>
              </thead>
              <tbody>
                <tr (click)="clickTDescripcion(descP.identificador_desc)" *ngFor="let descP of desc_proyectos">
                  <td>{{ descP.identificador_desc }}</td>
                  <td>{{ descP.fecha_emision }}</td>
                  <!-- <td>{{ descP.codigo_dga }}</td> -->
                  <td>{{ descP.codigo_aar }}</td>
                  <td>{{ descP.aar }}</td>
                </tr>
              </tbody>
            </table>
          </div>
  
        </div>
      
      </div>
  
      <div id="id_proceso" class="contenido" style="display: none;">
        <div class="form-group" style="padding: 1rem 0; display: inline-flex; gap: 1rem;">
          <label for="Proyecto" style="font-size: 1.5rem; font-weight: bold;">Proceso:  </label>           
          <label style="font-size: 1.5rem; text-transform: none;"> {{descripcionSeleccionado}}</label>             
        </div>
        <div class="proyecto">         

          <div>
            <div class="form-group">
              <label for="cod_reg">ID</label>
              <input name="cod_reg" type="Number" placeholder="ID" [value]=cant_proceso [(ngModel)]="proceso.proceso" readonly/>
            </div>
            <form class="form_descripcion">
              <div class="form-group">
                <label for="cod_reg">Número de Regístro de Consultor</label>
                <input id="codigo_registro" [(ngModel)]="proceso.codigo_registro" name="cod_reg" type="text" placeholder="Codigo"/>
              </div>
              <div class="form-group">
                <label for="proc_num">Número Contrato</label>
                <input id="num_contrato" [(ngModel)]="proceso.num_contrato" name="proc_num" type="text" placeholder="Contrato"/>
              </div>
              <div class="form-group">
                <label for="consultor">Consultor</label>
                <input id="consultor" [(ngModel)]="proceso.consultor" name="consultor" type="text" placeholder="Consultor"/>
              </div>
              <div class="form-group">
                <label for="monto">Monto</label>
                <input id="monto" [(ngModel)]="proceso.monto" name="monto" type="number" placeholder="Monto"/>
              </div>
              <div class="form-group">
                <label for="fecha_in">Periodo Inicio</label>
                <input id="fecha_in" [(ngModel)]="proceso.fecha_ini" name="fecha_in" type="date" placeholder="dd-MM-yyyy"/>
              </div>
              <div class="form-group">
                <label for="fecha_fin">Periodo Fin</label>
                <input id="fecha_fin" [(ngModel)]="proceso.fecha_fin" name="fecha_fin" type="date" placeholder="dd-MM-yyyy"/>
              </div>
              <div class="form-group">
                <label for="estado">Estado del Proceso</label>
                <!-- <input [(ngModel)]="proceso.estado_contrato" name="estado" type="checkbox" placeholder="Aprobado"/> -->
                <select id="estado" name="estado" class="select" [(ngModel)]="proceso.estado_contrato" >
                  <option value="" disabled>Indique Estado</option>
                  <option value="En elaboración TDR">En elaboración TDR</option>
                  <option value="Presentación TDR">Presentación TDR</option>
                  <option value="Aprobación TDR">Aprobación TDR</option>
                  <option value="Proceso de Contratación">Proceso de Contratación</option>
                  <option value="Ejecución de Auditoría">Ejecución de Auditoria</option>
                  <option value="Presentación informe preeliminar">Presentación informe preeliminar</option>
                  <option value="Pronunciamiento favorable del informe">Pronunciamiento favorable del informe</option>
                  <option value="Aprobación de la Auditoría Ambiental">Aprobación de la Auditoria Ambiental</option>
                </select>
              </div>
              <div class="form-group">
                <label for="pl_accion">Plan de Acción</label>
                <!-- <input [(ngModel)]="proceso.plan_acc" name="pl_accion" type="checkbox" placeholder="Plan Accion"/> -->
                <select class="select" name="plan_accion" id="plan_accion" [(ngModel)]="proceso.plan_acc">                  
                  <option value="" disabled>Escoja opción</option>
                  <option value="si">Si</option>
                  <option value="no">No</option>
                </select>
              </div>
              <div class="form-group">
                <label for="pl_manejo">Actualización Plan de Manejo</label>
                <!-- <input [(ngModel)]="proceso.confirmacion_actual" name="pl_manejo" type="checkbox" placeholder="Plan Manejo"/> -->
                <select name="act_plan" id="act_plan" class="select" [(ngModel)]="proceso.confirmacion_actual">
                  <option value="" disabled>Escoja una opción</option>
                  <option value="si">Si</option>
                  <option value="no">No</option>
                </select>
              </div>
              <div class="form-group">
                <label for="descripcion">Tipo de Auditoria</label>
                <select name="tipo_a" id="tipo_a" class="select" [(ngModel)]="proceso.descripcion">
                  <option value="" disabled>Escoja una opción</option>
                  <option value="Auditoria Ambiental de Cumplimiento">Auditoría Ambiental de Cumplimiento</option>
                  <option value="Auditoria Ambiental de Conjuncion">Auditoría Ambiental de Conjunción</option>
                  <option value="Auditoria Ambiental Interna">Auditoría Ambiental Interna</option>
                </select>
                <!-- <input style="width: 17rem;" id="descripcion" [(ngModel)]="proceso.descripcion" name="descripcion" type="tex" placeholder="Tipo de Auditoria"/> -->
              </div>
            </form>
            <div class="butt-guardar">
              <button id="btnProceso" (click)="crearProceso()">Proceso</button>
            </div>
          </div>
          
          <div id="tblProceso">
            <table>
              <thead>
                <tr>
                  <!-- <th>ID</th>
                  <th>Registro</th>
                  <th>Contrato</th>
                  <th>Consultor</th>
                  <th>Estado</th> -->
                  <th>ID</th>
                  <th>Tipo de Auditoria</th>
                  <th>Estado del Proceso</th>
                  <th>Actualización Plan de Manejo</th>
                  <th>Plan de Acción</th>
                  <th>Número Contrato</th>
                  <th>Monto</th>
                  <th>Consultor</th>
                </tr>
              </thead>
  
              <tbody>
                <tr (click)="clickTProceso(procs.codigo_registro, procs.proceso)" *ngFor="let procs of procesos">
                  <td>{{procs.proceso}}</td>
                  <td>{{procs.descripcion}}</td>
                  <td>{{procs.estado_contrato}}</td>
                  <td style="text-transform: uppercase;">{{procs.confirmacion_actual}}</td>
                  <td style="text-transform: uppercase;">{{procs.plan_acc}}</td>
                  <td>{{procs.num_contrato}}</td>
                  <td>{{procs.monto}}</td>
                  <td>{{procs.consultor}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        
        </div>
  
      
      </div>
  
      <div id="id_info" class="contenido" style="display: none;">
        <div class="form-group" style="padding: 1rem 0; display: inline-flex; gap: 1rem;">
          <label for="Proyecto" style="font-size: 1.5rem; font-weight: bold;">Registro Proceso:  </label>           
          <label style="font-size: 1.5rem; text-transform: none;"> {{idregistroSeleccionado}}</label>             
        </div>
        <div class="proyecto">
          
          <div>
  
            <div class="form-group">
              <h4 for="titulo">Título</h4>
              <div id="radiobtntitulo" style="display: inline;" *ngFor="let titulo of titulos">
                <input *ngIf="editarInfo == false" disabled="true" style="display: inline; width: auto;" id="titulo" type="radio" name="v_titulo" [(ngModel)]="info_proceso.titulo" value="{{titulo}}">
                <input *ngIf="editarInfo == true" style="display: inline; width: auto;" id="titulo" type="radio" name="v_titulo" [(ngModel)]="info_proceso.titulo" value="{{titulo}}">
                <label id="label_titulo" style="display: inline; width: auto;" for="titulo">{{titulo}}</label><br>
              </div>
              
            </div>            
            <form class="form_descripcion">
              <div class="form-group" style="align-items: center;">
                <label for="arch">Archivo</label>
                <input (change)="cargaArchivo($event,'inicial')" name="arch" type="file" placeholder="Archivo"/>
              </div>
            </form>
            <div class="form-group">
              <label for="descripc">Descripción</label>
              <textarea [(ngModel)]="info_proceso.descripcion" name="descripc" rows="4" type="text" placeholder="Descripción"></textarea>
            </div>            
            <div class="butt-guardar">
              <button id="btnInformacion" (click)="addInformacion()">Agregar Registro</button>
            </div>
          </div>
    
          <div id="tblInfo">
            <table>
              <thead>
                <tr>
                  <th>Titulo</th>
                  <th>Archivo</th>
                  <th>Descripción</th>
                </tr>
              </thead>
    
              <tbody>
                <tr *ngFor="let regs of registros">
                  <td>{{regs.titulo}}</td>
                  <td>{{regs.arch_adjunto}}</td>
                  <td>{{regs.descripcion}}</td>
                </tr>
              </tbody>
            </table>
          </div>
  
        </div>
      </div>

    </div>
    

  </div>
  
</div>
