body {
  background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.77),
    rgba(74, 153, 198, 0.68)
  );
  font-family: Arial, Helvetica, sans-serif;
  // font-size: var(--base-font-size);
  // line-height: var(--base-line-height);
  -webkit-font-smoothing: antialiased;
}

.grid-logo {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-area: logo;
  text-align: center;
  font-size: .5rem;
  border-radius: 10rem;
}
#btnCerrar {
  display: grid;
  grid-template-columns: 40px 90px;  
  background: #3a63a5;
  width: fit-content;
  border: 0;
  border-radius: 4px;
  color: #ffffff;
  text-transform: uppercase;
  justify-items: center;
  align-items: center;
  text-decoration: none;
  margin-left: auto;
  cursor: pointer;
}

.logo{
  display: block;
  align-self: center;
}
.div-logo {
  position: relative;
  display: inline-block;
}

.texto-logo {
  position: absolute;
  top: 77%;
  font-size: 13px;
  color: #02112a;
  padding: 0 1rem;
}

.grid-header {
  grid-area: header;
}

.header {
  text-align: center;
  align-self: center;
  font-size: 2rem;
  color: #000c43;
}

.grid-sidebar {
  grid-area: sidebar;
}
.sidebar_div{
  margin: auto;
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

// i
li{
  background: #3a63a5;
}
#primary_nav_wrap
{
	margin-top:15px
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin-top: 0;
	padding:0;
  
}

#primary_nav_wrap ul a
{
	display:block;
	color:#000c43;
	text-decoration:none;
	font-weight:700;
	font-size:1rem;
	line-height:32px;
	padding:1rem 1.5rem;
  
	// font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0;
  border-radius: 1.5rem;
}

// #primary_nav_wrap ul li.current-menu-item
// {
// 	background:rgb(172, 19, 21)
// }

#primary_nav_wrap ul li:hover a:hover
{
  color: white;
	background: #123456;
  border-radius: 1.5rem;
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#3a63a5;
	padding:0;  
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px;
  
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
  
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%;
  
}

#primary_nav_wrap ul li:hover > ul
{
	display:block;
  border-radius: 1.5rem;
  box-shadow: .3rem .2rem .7rem #123456;
}
// f

.grid-content{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  // opacity: 10;
  // width: min-content;
  // display: grid;
  grid-area: contenido;
  // gap: 1rem;
  // background-color: rgba(255, 255, 255, 0.499);
  // margin: 1rem 1.5rem;
  // padding: 1rem;
  align-items: center;
  justify-self: center;
  gap: 1.5rem;
  width: -webkit-fill-available;
}
#menu-content{
  text-align: center;
}
.grid_scroll{
  // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  // grid-template-rows: auto;
  width: max-content;
  overflow: scroll;
}

// .grid_scroll ::-webkit-scrollbar {
//     display: none;
// }

.contenido{
  opacity: 10;
  width: auto;
  height: min-content;
  background-color: rgba(255, 255, 255, 0.499);
  margin: 1rem 1.5rem;
  padding: 1rem;
  // align-items: center;
  justify-self: center;
  border-radius: 0.7rem;
}

.proyecto{
  display: grid;  
  grid-template-columns: repeat(2, 1fr);
  grid-area: contenido;
  gap: 1rem;
  justify-items: center;
}
.form_descripcion{
  display: grid;
  grid-template-columns: 1fr;
}
#id_proceso .form_descripcion{
  text-align: left;
  grid-template-columns: repeat(2,1fr);
}
.main-contenedor {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "header header header logo"
    "sidebar sidebar sidebar sidebar"
    "contenido contenido contenido contenido";
}

.form-group {
  // font-family: "Times New Roman", Times, serif;
  line-height: 15px;
  margin: 0.5rem 0.7rem;
}

.form-group label {
  display: block;
  margin: 0 0 10px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}

.form-group input {
  outline: none;
  display: block;
  background: rgb(152, 202, 243);
  width: 100%;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 5px 10px;
  color: rgba(0, 0, 0, 0.9);
  // font-family: inherit;
  font-size: inherit;
  font-weight: 100;
  line-height: inherit;
  transition: 0.3s ease;
  text-align: center;
}

.select {
  background-color: rgb(152, 202, 243);
  border: 0;
  border-radius: 6px;
  display: block;
  text-align: left;
  font-size: 17px;
  // font-family: inherit;
  width: auto;
}

.form-group textarea {
  background: rgb(152, 202, 243);
  border: 0;
  border-radius: 1rem;
  color: rgba(0, 0, 0, 0.9);
  box-sizing: border-box;
  padding: 5px 10px;
  width: 100%;
  height: 50%;
  font-family: inherit;
  font-size: inherit;
  font-weight: 100;
  text-align: justify;
}

input[type="radio"][disabled] + #label_titulo
{
    color: black;    
}
input[type="radio"]:checked + #label_titulo
{
    font-weight: bold;
}
input[type="radio"]{
  border: 1px solid #000000;
  border-radius: 8px;
  height: 16px;
  width: 16px;
  cursor: pointer;
}

#id_descripcion .form_descripcion .form-group input{
  width: auto;
}

#id_descripcion .form_descripcion{
  display: grid;  
  @media only screen and (max-width: 1400px) {
    grid-template-columns: repeat(1, 1fr);    
  }
    grid-template-columns: repeat(2, 1fr);
  
}


.form_descripcion .form-group{
  width:-webkit-fill-available;;
}

button {
  background: #3a63a5;
  border: 0;
  border-radius: 4px;
  color: #ffffff;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}

.butt-guardar{
  padding: .5rem;
  text-align: center;
}

table {
  overflow: auto;
  width: -webkit-fill-available;
  border-radius: .7rem;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
#id_proyecto table{
  width: -webkit-fill-available;
}
#id_info table{
  width: 600px;
}
#proyecto_hist table{
  width: 60rem;
}
.table_scroll{
  width: -webkit-fill-available;
  height: 200px;
  overflow: auto;
}

th,
td {
  font-family: inherit;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgb(0, 0, 0);
}
th {
  text-align: left;
}

thead th {
  background-color: #3a63a5;
}
tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

tbody tr:active {
  background-color: #123456;
  color: #fff;
}

tbody tr::after {
  background-color: #123456;
  color: #fff;
}

tbody td{
  position: relative;
}

.table_descripcion{
  margin-top: 1rem;
}

.link_historial, .link_proyectos, .link_id_proyecto, .link_id_descripcion, .link_id_proceso, .link_id_info{
  border-radius: 1rem;
  padding: 1rem .5rem;
  margin-right: 1rem;
  background-color: #3a63a5;  
  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.link_id_proyecto:hover, .link_id_descripcion:hover, .link_id_proceso:hover, .link_id_info:hover{
  background-color: #123456;
}


// .link_id_proyecto:active{
//   background-color: #327ac3;
// }

.href:visited{
  background-color: #123456;
}

// .link_id_proyecto:link, .link_id_descripcion:link, .link_id_proceso:link, .link_id_info:link{
//   background-color: #2a629a;
// }

// .link_id_proyecto:active, .link_id_descripcion:active, .link_id_proceso:active, .link_id_info:active{
//   background-color: #123456;
// }

// .link_id_proyecto:active, .link_id_proyecto:visited{
//   background-color: #123456;
// }

// .link_id_proyecto:active::after, .link_id_proyecto:visited::after, .link_id_proyecto:link{
//   background-color: #3a63a5;
// }