<nav id="primary_nav_wrap">
    <ul>
        <!-- <li class="current-menu-item"><a href="#">Home</a></li> -->
        <li id="id_ctrl_act"><a>Control de Actividades</a>
            <ul>
                <li><a href="/actividad">Crear</a></li>
                <li><a href="/Listar">Ver</a></li>
            </ul>
        </li>
        <li id="id_ctrl_auditoria"><a>Control de Auditorías</a>
            <ul>
                <li><a href="/control_auditoria">Historial</a></li>
                <li><a href="/auditorias">Crear Proyecto</a></li>
                <!-- <li><a >Informe</a></li> -->
            </ul>
        </li>
        <li><a href="#">Configuración</a></li>
        <!-- <li><a href="/login">Cerrar Sesión</a></li> -->
    </ul>
</nav>