#container {
  margin: 0 auto;
}

nav {
  margin: 50px 0;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

nav ul li {
  display: inline-block;
  @media only screen and (max-width: 700px) {
    display: block;
  }

  background: #3a63a5;
  border-radius: 1rem;
  margin: 0 10px;
}

nav a {
  @media only screen and (max-width: 700px) {
    margin-bottom: 5px;
  }
  display: block;
  padding: 0 10px;
  color: #fff;
  font-size: 20px;
  line-height: 60px;
  text-decoration: none;
}

nav a:hover {
  background-color: #042354;
  border-radius: 1rem;
}

/* Hide Dropdowns by Default */
nav ul ul {
  display: none;
  position: absolute;
  // margin: 0 calc(100% - 600px);
  // top: 60px; /* the height of the main nav */
  @media only screen and (max-width: 700px) {
    display: none;
    position: relative;
    // margin-left: 14.7rem;
    background-color: #103776;
  }
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
  display: inherit;
  border-radius: 1rem;
  background-color: #3a63a5;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
  @media only screen and (max-width: 700px) {
    width: auto;
  }
  width: 200px;
  float: none;
  display: list-item;  
  position: relative;
  margin: 0;
  // background-color: red;
}

/* Second, Third and more Tiers	*/
// nav ul ul ul li {
//   position: relative;
//   top: -60px;
//   left: 170px;
// }

/* Change this in order to change the Dropdown symbol */
li > a:after {
  content: " +";
}
li > a:only-child:after {
  content: "";
}


