<div class="form">
  
  <div style="text-align: right; padding-right: 15px;">
    <div class="div-logo">
      <img src="../../../assets/imgs/icon.png" alt="centrosur-icon" />
      <div class="texto-logo">Dpto. de Gestion Ambiental</div>
    </div>
  </div>

  <div class="form-panel">
    <div class="form-header">
      <h1>Iniciar Sesion</h1>
    </div>
    <div>
      <form>
        <div class="form-group">
            <label for="email">Email</label>
            <input [(ngModel)]="email" id="email" type="email" name="email" required="required" placeholder="Correo Electrónico"/>
        </div>
        <div class="form-group grid">
          <label for="password">Contraseña</label>
          <input [(ngModel)]="password" id="password" type="password" name="password" required="required" placeholder="Contraseña"/>
        </div>
      </form>
      <div class="form-group">
        <div></div>
        <button (click)="login()" type="submit">Iniciar Sesión</button>
        <div></div>
      </div>
      <p>No tiene cuenta <a href="/registrar">Registrese aqui</a></p>
    </div>
  </div>
</div>
