body {
  background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.77),
    rgba(74, 153, 198, 0.68)
  );
  font-family: "Times New Roman", Times, serif;
  // font-size: var(--base-font-size);
  // line-height: var(--base-line-height);
  -webkit-font-smoothing: antialiased;
}

.grid-logo {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-area: logo;
  text-align: center;
  font-size: .5rem;
  border-radius: 10rem;
}
#btnCerrar {
  display: grid;
  grid-template-columns: 40px 90px;  
  background: #3a63a5;
  width: fit-content;
  border: 0;
  border-radius: 4px;
  color: #ffffff;
  text-transform: uppercase;
  justify-items: center;
  align-items: center;
  text-decoration: none;
  margin-left: auto;
  cursor: pointer;
}

.div-logo {
  position: relative;
  display: inline-block;
}

.texto-logo {
  position: absolute;
  top: 77%;
  font-size: 13px;
  color: #02112a;
  padding: 0 1rem;  
}

.grid-header {
  grid-area: header;
}

.header {
  text-align: center;
  align-self: center;  
  font-size: 2rem;
  color: #000c43;
}

.grid-sidebar {
  grid-area: sidebar;
  margin: auto;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.grid-content {
  opacity: 10;
  width: min-content;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-area: contenido;
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.288);
  margin: 1rem 1.5rem;
  padding: 1rem;
  align-items: center;
  justify-self: center;
  border-radius: 0.7rem;
}

table {
  width: 400px;
  border-radius: .7rem;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
  font-family: inherit;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgb(0, 0, 0);
}
th {
  text-align: left;
}

thead th {
  background-color: #3a63a5;
}
tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

tbody tr:active {
  background-color: #123456;
  color: #fff;
}

tbody tr::after {
  background-color: #123456;
  color: #fff;
}

tbody td{
  position: relative;
}

// .form-panel {
//   padding: 3rem 3rem 1px;
// }

.form-group {
  font-family: "Times New Roman", Times, serif;
  line-height: 15px;
  margin: .5rem .7rem;
}

.form-group label {
  display: block;
  margin: 0 0 10px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.form-group input {
  outline: none;
  display: block;
  background: rgba(152, 202, 243, 0.59);
  width: 20rem;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 5px 10px;
  color: rgba(0, 0, 0, 0.9);
  font-family: inherit;
  font-size: inherit;
  font-weight: 100;
  line-height: inherit;
  transition: 0.3s ease;
  text-align: center;
}

button {
  background: #3a63a5;
  border: 0;
  border-radius: 4px;
  color: #ffffff;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}

.butt-guardar{
  padding: .5rem;
  text-align: center;
}
.main-contenedor {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "header header header logo"
    "sidebar sidebar sidebar sidebar"
    "contenido contenido contenido contenido";
}

a {
  text-decoration: none;
  color: rgb(8, 0, 255);
}

img {
  font-size: 0.5rem;
  text-transform: none;
  // padding: 0.3rem 2.5rem;
}


// Calendario
.container {
  
  //   background-color: rgb(255, 255, 255);
  //   border-top-width: 1rem;
  border: rgba(0, 0, 0, 0.236) solid;
  margin-right: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-flow: row wrap;
  height: auto;
  align-items: center;
}
.container .elemento {
  min-width: 250px;
  height: 300px;
  margin: 10px auto;
}

.calendario {
  width: auto;
  padding: 10px 5px;
  position: sticky;
}
.calendario .cal-header {
  border-radius: .5rem;
  background-color: #0543a755;
  margin: 5px 5px 10px;
  font-family: "Lato", "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 1.3em;
  text-transform: uppercase;
  text-align: center;
}
.calendario .cal-row {
  border-top: 1px lightgrey solid;
  border-right: 1px lightgrey solid;
  // border-bottom: 1px lightgrey solid;
  border-radius: 1rem;
  position: relative;
  display: block;
  height: 75px;
  color: rgb(0, 0, 0);
  transition: all ease 0.9s;
}
.calendario .cal-row:last-child {
  border-bottom: 1px lightgrey solid;
}
.calendario .cal-row:hover .badge {
  width: 100%;
}
.calendario .cal-row:hover .date, .calendario .cal-row:hover .info, .calendario .cal-row:hover .info p  {
  color: #f8f8ff;
}
.calendario .cal-row .badge {
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  margin: 0 0 0 0px;
  transition: 0.9s ease-in-out;
  width: 5px;
  background: #12ae39;
  border-radius: 1rem;
}
.calendario .cal-row .rosso {
  background-color: #ff0000;
  border-radius: 1rem;
}
.calendario .cal-row .ama {
  background-color: #d2e006;
}
// .calendario .cal-row .verde {
//   background-color: #12ae39;
// }
.calendario .cal-row .date, .calendario .cal-row .info {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  transition: all ease 0.9s;
}
.calendario .cal-row .date {
  width: 5%;
  margin: 0 10px 0 10px;
  font-family: "Lato", "Open Sans", sans-serif;
  text-align: center;
}
.calendario .cal-row .date .month {
  text-transform: uppercase;
  line-height: 0.5;
  margin-top: 30px;
  // align-items: center;
}
.calendario .cal-row .date .day {
  font-size: 1.5em;
  font-weight: bold;
}
.calendario .cal-row .info {
  text-align: left;
}
.calendario .cal-row .info p {
  color: rgb(51, 51, 51);
  // text-decoration: none;
  transition: all ease 0.9s;
  margin: 0;
}
.calendario .cal-row .info p:hover {
  text-decoration: underline;
}
.calendario .cal-row .info .info-time, .calendario .cal-row .info .info-loc {
  font-size: 0.8em;
}