<div class="main-contenedor">
  <div class="grid-logo">
    <div class="div-logo">
      <img src="../../../assets/imgs/picon2.png" alt="centrosur-icon" />
      <div class="texto-logo">Dpto. de Gestion Ambiental</div>
    </div>
  </div>

  <div class="header grid-header">
    <h1>Actividades</h1>
  </div>

  <div class="grid-sidebar menu">
    <h3>Menu</h3>
    <a href="/actividad">Crear Actividad</a>
    <a href="/Listar">Actividades</a>
    <a href="/auditorias">Auditorias</a>
    <a href="#">Actualizar Información</a>
    <a href="/login">Cerrar Sesion</a>
  </div>

  <div class="grid-content">
    <div>
      listado
      <div >
        <table>
          <thead>
            <tr>
              <th>Título</th>
              <th>Descripción</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr (click)="click_tabla(act.titulo)" *ngFor="let act of actividades">
              <td >{{act.titulo}}</td>
              <td>{{act.descripcion}}</td>
              <td><button>+</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div>
      <form>
        <div class="form-group">
          <label for="">Nombre Documento</label>
          <input [(ngModel)] = "titulo" name = "titulo" type="text" readonly>
        </div>
        <div class="form-group">
          <label for="">Nombre Documento</label>
          <input [(ngModel)] = "registro_act.nombre_documento" name = "nombre" type="text" placeholder="Nombre Documento">
        </div>
        <div class="form-group">
          <label for="">Culminado</label>
          <input [(ngModel)] = "registro_act.estado" name = "estado" type="checkbox" readonly disabled>
        </div>
        <div class="form-group">
          <label for="">Fecha</label>
          <input [value]="vFecha" name = "fecha" type="date" readonly placeholder="dd-MM-yyyy">
        </div>
        <div class="butt-guardar">
          <button (click)="guardar_registro()">Cumplir</button>
        </div>
      </form>
    </div>
    <!-- <div style="text-align: center; padding: 1rem 0;">
      <button>Crear</button>
    </div> -->
  </div>
</div>
