<div class="main-contenedor">

  <div class="grid-logo">
    <div class="logo">
      <div class="div-logo">
        <img src="../../../assets/imgs/picon2.png" alt="centrosur-icon" />
        <!-- <div class="texto-logo">Dpto. de Gestion Ambiental</div> -->
      </div>
    </div>
    <div>
      <a id="btnCerrar" href="/login">
        <img src="../../../assets/imgs/cerrar_sesion.png" alt="cerrar sesion">
        <h3>
          Cerrar Sesion
        </h3>
      </a>
    </div>
  </div>

  <div class="header grid-header">
    <h1>Gestión Ambiental y Responsabilidad Social</h1>
  </div>

  <div class="grid-sidebar menu">
    <app-menu></app-menu>
  </div>
   
  <div class="grid-content">

    <div id="proyecto_hist" class="contenido select_tables">
      <div class="table_scroll">
        <table>
          <thead>
            <tr>
              <th style="text-align: center; font-size: 1.5rem;">Proyectos</th>
              <!-- <th>Fecha</th> -->
            </tr>
          </thead>
          <tbody>
            <tr 
              (click)="clickTHistorial(proy.nombre)"
              *ngFor="let proy of proyectos"
            >
              <td style="border-right: .3px solid #0000002b;width: min-content;padding-right: .5rem;text-align: justify;" >{{ proy.nombre }}</td>
              <!-- <td style="width: 5rem;">{{ proy.fecha_creacion }}</td> -->
            </tr>
          </tbody>
        </table>
      </div>        
    </div>                  

    <div id="id_contenido" class="contenido" style="width: auto; display: none;">
      
      <div style="width: auto;">
        <h1>Proyecto:</h1>
        <h4 style="width: auto">{{proyectoSeleccionado}}</h4>
      </div>

      <h1>Descripción</h1>
      <div >

        <table  style="margin: auto; width: 100%; margin-right: 3.5rem;">
          <thead>
            <tr>
              <th>Código</th>
              <th>Fecha de Emisión Licencia</th>
              <!-- <th>Código Dpt. Gestion Amb</th> -->
              <th>Número Licencia Ambiental</th>
              <th>Autoridad Ambiental Respensoble</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let descs of desc_proyectos">                           
              <td>{{descs.identificador_desc}}</td>
              <td>{{descs.fecha_emision}}</td>
              <!-- <td>{{descs.codigo_dga}}</td> -->
              <td>{{descs.codigo_aar}}</td>
              <td>{{descs.aar}}</td>
            </tr>               
          <tbody>
        </table>            
        
      </div>

      <div>
        <h2>Procesos</h2>
      </div>
      
      <div id="table_proceso" class="select_tables">
        <div>
          <table style="margin: auto; width: 100%; margin-right: 3.5rem;">          
            <thead>
              <tr>
                <th></th>
                <th style="text-align: center;">ID</th>
                <th style="text-align: center;">Tipo de Auditoria</th>
                <th style="width: 5rem; text-align: center">Periodo Inicio</th>
                <th style="width: 5rem; text-align: center">Periodo Fin</th>
                <th style="text-align: center;">Estado del Proceso</th>
                <th style="text-align: center;">Actualización Plan de Manejo</th>
                <th style="text-align: center;">Plan de Acción</th>
                <th style="text-align: center;">Número Contrato</th>
                <th style="text-align: center;">Monto</th>
                <th style="text-align: center;">Consultor</th>
                <th style="text-align: center;">Número de Registro de Consultor</th>
                <!-- <th style="text-align: center;">Pertenece a:</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let proceso of procesos">
              <!-- (click)="clickTProceso(proceso.identificador, proceso.proceso)" -->
                <td class="bot_table">
                  <input class="seleccion" (click)="chang('editProy', proceso.proceso, proceso.identificador)" src="../../../assets/imgs/edit.png" type="image" value="edit">
                  
                  <input class="seleccion" (click)="chang('delet', proceso.proceso, proceso.identificador)" src="../../../assets/imgs/delet.png" type="image" value="del">

                  <input class="seleccion" (click)="clickTProceso(proceso.identificador, proceso.proceso)" src="../../../assets/imgs/vermas.png" type="image" value="del">
                </td> 
                <td>{{proceso.proceso}}</td>
                <td>{{proceso.descripcion}}</td>
                <td>{{proceso.fecha_ini}}</td>
                <td>{{proceso.fecha_fin}}</td>
                <td>{{proceso.estado_contrato}}</td>
                <td style="text-transform: uppercase;">{{proceso.confirmacion_actual}}</td>
                <td style="text-transform: uppercase;">{{proceso.plan_acc}}</td>
                <td>{{proceso.num_contrato}}</td>
                <td>{{proceso.monto}}</td>
                <td>{{proceso.consultor}}</td>
                <td>{{proceso.codigo_registro}}</td>
                <!-- <td>{{proceso.identificador}}</td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
      <div id="tbl_info" style="display: none;">
        <div>
          <h2>Adjuntos del Proceso: {{procesoSeleccionado}}</h2>
        </div>
  
        <div>
          <div >
            <table style="margin: auto; width: -webkit-fill-available; margin-right: 3.5rem;">          
              <thead>
                <tr>
                  <th></th>
                  <th style="text-align: center;">Titulo</th>
                  <th style="text-align: center;">Descripción Archivo</th>
                  <th style="text-align: center;">Archivo</th>
                  <!-- <th>Archivo Final</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let regs of registros">
                  <input class="seleccion" (click)="chang('editAdjunto|'+regs.titulo, procesoSeleccionado, descripcionSeleccionado)" src="../../../assets/imgs/edit.png" type="image" value="edit">
                  <td>{{regs.titulo}}</td>
                  <td>{{regs.descripcion}}</td>
                  <td>{{regs.arch_adjunto}}</td>
                  <!-- <td>{{regs.arch_final}}</td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>